<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div layout:fragment="header"></div>


	<div layout:fragment="content">
		<div class="row">
			<aside class="col-sm-2">
				<div class="card poly-cart">
					<div class="card-body">
						<div class="row">
							<form th:action="@{/hotels/find}" method="post" class="input-group input-group-sm mt-auto" style="width: 200px;">
                            <div class="input-group input-group-sm">
                                <input type="text" name="ten" class="form-control float-right" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>

						</div>
					</div>
				</div>
				<div class="card poly-cart" data-toggle="collapse" href="#chungloai">
					<div class="card-header" style="cursor: pointer;">
						<i class="fas fa-list-ul"></i> Danh Mục
					</div>
				</div>
				<ul class="list-group collapse show" style="cursor: pointer;"
					id="chungloai">
					<a th:href="@{/}">
                        <span th:text="${attr_user} ? ${attr_user.username}"></span>
                    </a>
					<a th:href="@{/users/}" class="list-group-item">Tài Khoản</a>
					<a th:href="@{/citys/}" class="list-group-item ">Thành Phố</a>
					<a th:href="@{/types/}" class="list-group-item ">Loại Khách Sạn</a>
					<a th:href="@{/hotels/}" class="list-group-item ">Khách Sạn</a>
					<a th:href="@{/services/}" class="list-group-item ">Dịch Vụ</a>
					<a th:href="@{/rooms/}" class="list-group-item ">Phòng</a>

				</ul>
				<div class="card poly-cart" data-toggle="collapse" href="#nguoidung">
					<div class="card-header" style="cursor: pointer;">
						<i class="fas fa-list-ul"></i> Người Dùng
					</div>
				</div>
				<ul class="list-group collapse show" style="cursor: pointer;"
					id="nguoidung">
					<li class="list-group-item "><i class="fas fa-user"></i> Tài
						Khoản</li>
					<li class="list-group-item "><i class="fas fa-cogs"></i> Chưa
						Nghĩ Ra</li>
					<a class="list-group-item " th:href="@{/logout}" th:if="${attr_user != null}"><i class="fas fa-sign-out-alt"></i>
						Đăng Xuất</a>


				</ul>
			</aside>
			<article class="col-sm-10">
				<div class="card">
					<div class="card-header">
					<div th:if="${success}"
							class="row alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							<span th:text="${success}"></span>
						</div>

						<span type="button" class="float-right btn btn-primary btn-sm"
							data-toggle="modal" data-target="#modelId"> <i
							class="fas fa-plus"></i> Them Moi
						</span>
						<!-- Modal -->
						<div class="modal fade" id="modelId" tabindex="-1" role="dialog"
							aria-labelledby="modelTitleId" aria-hidden="true">
							<div class="modal-dialog" style="max-width: 700px"
								role="document">

								<div class="modal-content">
									<div class="modal-header">
										<!--  
									<div th:if="${message !=null}">
										<h3 th:text="${message}"></h3>
									</div>
									-->
										<h5 class="modal-title">Thêm Khách Sạn</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form th:action="@{/hotels/saveOrUpdate}"
											th:object="${hotelDto}" method="post"
											enctype="multipart/form-data">

											<div th:if="${id>0}">
												<div class="form-group row">

													<label class="col-sm-3 col-form-label"> Mã</label>
													<div class="col-sm-9">
														<input type="text" th:field="*{id}" class="form-control"
															placeholder="Mã Thành Phố" readonly>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-3 col-form-label"> Tên Khách
													Sạn</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" th:field="*{ten}"
														placeholder="Tên Khách Sạn">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label"> Địa chỉ</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"
														th:field="*{diaChi}" placeholder="Địa chỉ...">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label"> Số Điện
													Thoại</label>
												<div class="col-sm-9">
													<input type="tel" id="sodt" class="form-control"
														th:field="*{sodt}" placeholder="Số điện thoại...">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label"> Cách Trung
													Tâm</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														th:field="*{cachtrungtam}" placeholder="Cách trung tâm...">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3"> Hình Ảnh</label>
												<div class="col-sm-9">
										<input type="file" class="custom-file-input" th:field="*{photo}" id="photo" th:required="*{id == 0}">
                                        <label class="custom-file-label" for="photo" th:if="*{imageName}" th:text="*{imageName}"></label>
                                        <label class="custom-file-label" for="photo" th:unless="*{imageName}">choose image</label>
												</div>
											</div>
											<div class="row" style="margin: 5px;">
												<div class="form-group col-sm-12">
													<label for="validationTextarea">Mô Tả</label>
													<textarea  rows="6" class="form-control" th:field="*{mota}"
														id="mota" placeholder="Mô tả...">
                                                    </textarea>
												</div>
											</div>
											<div class="form-row">
												<div class="col-md-3 mb-3">
													<label>Giap Bien</label>
													<div class="radio">
														<label class="checkbox-inline"> <input
															type="radio" th:field="*{cachbien}" name="giapbien"
															value="1" id="giapbien1" /> Có
														</label> <label class="checkbox-inline"> <input
															type="radio" th:field="*{cachbien}" name="giapbien"
															checked="checked" value="0" id="giapbien2" /> Không
														</label>
													</div>

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationTooltip02">Đánh Gía</label> <input
														type="number" id="validationTooltip02"
														class="form-control" min="0" max="5" th:field="*{danhgia}">


												</div>
												<div class="col-md-4 mb-3">
													<label for="validationTooltipUsername">Bữa Ăn</label>
													<div class="input-group">
														<input type="text" id="validationTooltip02"
															class="form-control" th:field="*{buaan}"
															placeholder="Bữa Ăn...">
													</div>
												</div>
											</div>
											<div class="row" style="margin: 5px;">
												<div class="form-group col-md-6">
													<label>Thành Phố</label> <select th:field="*{thanhphoId}"
														class="form-control">

														<option th:each="thanhpho : ${tbthanhpho}"
															th:value="${thanhpho.id}" th:text="${thanhpho.ten}"></option>
													</select>

												</div>
												<div class="form-group col-md-6">
													<label>Loại Khách Sạn</label> <select class="custom-select"
														th:field="*{loaiKhachSanId}">

														<option th:each="loaiKhachSan : ${tbloaikhachsan}"
															th:value="${loaiKhachSan.id}"
															th:text="${loaiKhachSan.ten}"></option>
													</select>
												</div>
											</div>

											<input type="submit" value="Add" class="btn btn-primary"th:if="${id<=0}" /> 
											<input type="submit" value="Update"
												class="btn btn-primary" th:if="${id>0}" /> <a
												th:href="@{/hotels/}" class="btn btn-outline-secondary">Cancel</a>

										</form>
									</div>
									<div class="card-footer">
										<h4>Error :</h4>
										<ul style="color: red;"
											th:if="${#fields.hasErrors('${hotelDto.*}')}">
											<li th:each="err: ${#fields.errors('${hotelDto.*}')}"
												th:text="${err}">Input is inncorrect</li>
										</ul>
									</div>
								</div>
							</div>
						</div>


					</div>

					<table class="table table-bordered" style="margin-bottom: 0;">
						<thead class="text-center">
							<tr>

								<th>Tên</th>
								<th style="width: 150px">Địa chỉ</th>
								<th>SĐT</th>
								<th>Cách trung tâm</th>
								<th>Hình ảnh</th>
								<th style="width: 350px;">Mo Ta</th>
								<th>Giáp Biển</th>
								<th>Đánh Gia</th>
								<th style="width: 100px">Bữa ăn</th>
								<th>Thành phố</th>
								<th>Loại Khách Sạn</th>
								<th>Thao tác</th>

							</tr>

						</thead>
						<tbody>
							<tr th:each="item: ${hotels}">

								<td th:text="${item.ten}"></td>
								<td th:text="${item.diachi}"></td>
								<td th:text="${item.sodt}"></td>
								<td th:text="${item.cachtrungtam}+ 'm'"></td>
								<td><img alt="" th:src="@{'/getimage/' +${item.id}}"
									width="100" height="90" class="avatar"
									style="border-radius: 40px; vertical-align: middle;"></td>
								<td th:text="${item.mota}"></td>
								<td><span th:text="${item.cachbien} ? 'Có':'Không'"></span></td>

								<td th:text="${item.danhgia}" class="far fa-star"></td>
								<td th:text="${item.buaan}"></td>
								<td th:text="${item.thanhpho.ten}"></td>
								<td th:text="${item.loaikhachsan.ten}"></td>

								<td class="text-right py-0 align-middle">
									<div class="btn-group btn-group-sm">
										<a th:href="@{'/hotels/edit/' + ${item.id}}"
											class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
										<a th:href="@{'/hotels/delete/' + ${item.id}}"
											class="btn btn-danger"><i class="fas fa-trash"></i></a>
									</div>
								</td>

							</tr>

						</tbody>
					</table>

					<div class="card-footer">
						  <nav aria-label="Contacts Page Navigation" th:if="${hotels.totalPages}">
                        <ul class="pagination justify-content-center m-0">
                            <li th:class="${hotels.number == 0}?'disabled page-item':'page-item'">
                                <a class="page-link"
                                    th:href="@{/hotels/(page=1)}">&laquo;</a>
                            </li>
                            <li th:class="${hotels.number == 0} ?'disabled page-item':'page-item'"><a
                                    class="page-link"
                                    th:href="@{/hotels/(page=${hotels.number})}">&larr;</a>
                            </li>
                            <li
                                    th:class="${hotels.number == (page - 1)}?'active page-item':'page-item'"
                                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                <a class="page-link"
                                   th:href="@{/hotels/(page=${page})}"
                                   th:text="${page}"></a>
                            </li>
                            <li
                                    th:class="${hotels.number + 1 == hotels.totalPages} ?'disabled page-item':'page-item'">
                                <a class="page-link"
                                   th:href="@{/hotels/(page=${hotels.number + 2})}">&rarr;</a>
                            </li>
                            <li
                                    th:class="${hotels.number+ 1 == hotels.totalPages}?'disabled page-item':'page-item'">
                                <a class="page-link"
                                   th:href="@{/hotels/(page=${hotels.totalPages})}">&raquo;</a>
                            </li>
                        </ul>
                        </nav>
					</div>
				</div>
			</article>


		</div>


	</div>
<th:block layout:fragment="js">
<script th:src="@{/js/select2.min.js}"></script>
 <script th:src="@{/js/jquery.inputmask.bundle.min.js}"></script>
    <script>
    $(document).ready(function(){
   	 $('#datemask').inputmask('dd/mm/yyyy');
        $("#sodt").inputmask({"mask": "(99)(99)999-9999"});
   });
      
    </script>
</th:block>
</body>
</html>