<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clone.html}">
<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Hotel HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
</head>
<body itemscope>
<div class="theme-layout">
	<div class="header-container stick">
		<div layout:fragment="header"></div>
	</div><!-- Header Container -->


<div layout:fragment="content">
	<div class="pagetop">
		<div class="container">
			<h1>All Flights</h1>
			<ul>
				<li><a title="" href="#">Home</a></li>
				<li>Flights</li>
			</ul>		
		</div>
	</div><!-- Page Top -->



	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12 column">
						<div class="special-offers">
							<div class="row">
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer1.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">The Gold Standard Tour</a></h3>
											<div class="cost">FROM <strong>$420.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer2.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Cinque Terre & Rome Tour</a></h3>
											<div class="cost">FROM <strong>$159.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer3.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Art, Food, and Culture Tour</a></h3>
											<div class="cost">FROM <strong>$212.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer4.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">The Gold Standard Tour</a></h3>
											<div class="cost">FROM <strong>$420.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer5.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Cinque Terre & Rome Tour</a></h3>
											<div class="cost">FROM <strong>$159.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer6.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Art, Food, and Culture Tour</a></h3>
											<div class="cost">FROM <strong>$212.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer7.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">The Gold Standard Tour</a></h3>
											<div class="cost">FROM <strong>$420.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer8.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Cinque Terre & Rome Tour</a></h3>
											<div class="cost">FROM <strong>$159.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer9.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Art, Food, and Culture Tour</a></h3>
											<div class="cost">FROM <strong>$212.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
							</div>
						</div><!-- Special Offers -->
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
</div>

</body>

<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
</html>