<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clone.html}">
<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Hotel HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

</head>
<body itemscope>
<div class="theme-layout">
	<div class="header-container stick">
		<div layout:fragment="header"></div>
	</div><!-- Header Container -->


<div layout:fragment="content">
	<div class="pagetop">
		<div class="container">
			<h1>Blog List View</h1>
			<ul>
				<li><a title="" href="#">Home</a></li>
				<li>Blog</li>
			</ul>		
		</div>
	</div><!-- Page Top -->


	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 column">
						<div class="row">
							<div class="blog-posts list-view center">
								<div class="col-md-12">									
									<div class="blog-post">
										<div class="post-img">
											<img th:src="@{/images/resource/blog-list1.jpg}" alt="" />
											<a th:href="@{/contacts/blog-detail}" title=""><img th:src="@{/images/link.png}" alt="" /></a>
										</div>
										<h3><a href="blog-detail.html" title="">Winvian Sparkles Again with 2 Five Diamond</a></h3>
										<p>Curabitur blandit tempus porttitor. Maecenas sediam eget risus varius blandit sit accumsan urna vita molestie interdum. Nam sed placerat libero, noleifendet non magna. Fusce dapibus, tellus ac cursu commodo, tortor mauris condimentum nibh, ut fermentum massa justo.</p>
										<div class="bottom-bar">
											<ul class="meta">
												<li>By <a href="#" title="">Admin</a></li>
												<li><a href="#" title="">July 01 2015</a></li>
												<li><a href="#" title="">No Comments</a></li>
											</ul>
										</div>
									</div><!-- Blog Post -->
								</div>
								<div class="col-md-12">									
									<div class="blog-post">
										<div class="post-img">
											<img th:src="@{/images/resource/blog-list2.jpg}" alt="" />
											<a th:href="@{/contacts/blog-detail}" title=""><img th:src="@{/images/link.png}" alt="" /></a>
										</div>
										<h3><a th:href="@{/contacts/blog-detail}" title="">One of America’s Best Restaurants Hosts</a></h3>
										<p>Curabitur blandit tempus porttitor. Maecenas sediam eget risus varius blandit sit accumsan urna vita molestie interdum. Nam sed placerat libero, noleifendet non magna. Fusce dapibus, tellus ac cursu  commodo, tortor mauris condimentum nibh, ut fermentum massa justo.</p>
										<div class="bottom-bar">
											<ul class="meta">
												<li>By <a href="#" title="">Admin</a></li>
												<li><a href="#" title="">July 01 2015</a></li>
												<li><a href="#" title="">No Comments</a></li>
											</ul>
										</div>
									</div><!-- Blog Post -->
								</div>
								<div class="col-md-12">									
									<div class="blog-post">
										<div class="post-img">
											<img th:src="@{/images/resource/blog-list3.jpg}" alt="" />
											<a th:href="@{/contacts/blog-detail}" title=""><img th:src="@{/images/link.png}" alt="" /></a>
										</div>
										<h3><a th:href="@{/contacts/blog-detail}" title="">Moto-Man had quite the adventure</a></h3>
										<p>Curabitur blandit tempus porttitor. Maecenas sediam eget risus varius blandit sit accumsan urna vita molestie interdum. Nam sed placerat libero, noleifendet non magna. Fusce dapibus, tellus ac cursu  commodo, tortor mauris condimentum nibh, ut fermentum massa justo.</p>
										<div class="bottom-bar">
											<ul class="meta">
												<li>By <a href="#" title="">Admin</a></li>
												<li><a href="#" title="">July 01 2015</a></li>
												<li><a href="#" title="">No Comments</a></li>
											</ul>
										</div>
									</div><!-- Blog Post -->
								</div>
							</div>
						</div><!-- Blog Posts -->
					</div>
					<aside class="col-md-4 column">
						<div class="sidebar">
							<div class="widget">
								<form class="searchform">
									<input type="text" placeholder="Search">
									<button><i class="fa fa-search"></i></button>
								</form>
							</div><!-- Widget -->
							<div class="widget">
								<div class="widget-title">
									<h4>Rooms Packages</h4>
									<span>Local Guide</span>
								</div>
								<div class="offers-widget">
									<div class="offer">
										<img th:src="@{/images/resource/footer-room1.jpg}" alt="" />
										<div class="offer-overlay">
											<span>Couple Room</span>
											<a href="#">Honymoon Suite</a>
										</div>
									</div><!-- Offer -->
									<div class="offer">
										<img th:src="@{/images/resource/footer-room2.jpg}" alt="" />
										<div class="offer-overlay">
											<span>Couple Room</span>
											<a href="#">Honymoon Suite</a>
										</div>
									</div><!-- Offer -->
									<div class="offer">
										<img th:src="@{/images/resource/footer-room3.jpg}" alt="" />
										<div class="offer-overlay">
											<span>Couple Room</span>
											<a href="#">Honymoon Suite</a>
										</div>
									</div><!-- Offer -->
								</div><!-- Offers Widget -->
							</div><!-- Widget -->
							<div class="widget">
								<div class="widget-title">
									<h4>Recent News</h4>
									<span>Blog Posts</span>
								</div>
								<div class="widget-news">
									<div class="recent-news">
										<span class="date">
											<i>August</i><strong>25</strong>
										</span>
										<a href="#" title="">An Exceptional Hotel Template!</a>
									</div><!-- News -->
									<div class="recent-news">
										<span class="date">
											<i>August</i><strong>18</strong>
										</span>
										<a href="#" title="">Comfortable & Spacious Apartment</a>
									</div><!-- News -->
								</div><!-- News Widget -->
							</div><!-- Widget -->
							<div class="widget">
								<div class="widget-title">
									<h4>Categories List</h4>
									<span>Local Guide</span>
								</div>
								<ul>
									<li><i class="fa fa-umbrella"></i> Boutiques</li>
									<li><i class="fa fa-laptop"></i> Complimentary wireless internet</li>
									<li><i class="fa fa-clock-o"></i> Private beach with service</li>
									<li><i class="fa fa-wifi"></i> Pet-friendly resort</li>
									<li><i class="fa fa-umbrella"></i> Tennis courts</li>
								</ul><!-- ul -->
							</div><!-- Widget -->			
							<div class="widget">
								<div class="widget-title">
									<h4>Popular Posts</h4>
									<span>Local Guide</span>
								</div>
								<div class="popular-posts">
									<div class="sidebar-post">
										<div class="sidebar-post-img">
											<img th:src="@{/images/resource/popular-post1.jpg}" alt="" />
											<ul class="meta">
												<li>By <a href="#" title="">admin</a></li>
												<li><a href="#" title="">July 01 2015</a></li>
											</ul>
										</div>
										<h4><a href="#" title="">An Exceptional Hotel Template! </a></h4>
									</div><!-- Sidebar Post -->
									<div class="sidebar-post">
										<div class="sidebar-post-img">
											<img th:src="@{/images/resource/popular-post2.jpg}" alt="" />
											<ul class="meta">
												<li>By <a href="#" title="">admin</a></li>
												<li><a href="#" title="">July 01 2015</a></li>
											</ul>
										</div>
										<h4><a href="#" title="">An Exceptional Hotel Template! </a></h4>
									</div><!-- Sidebar Post -->
								</div><!-- Popular Posts -->
							</div><!-- Widget -->
							<div class="widget">
								<div class="widget-title">
									<h4>Meta Links</h4>
									<span>Local Guide</span>
								</div>
								<ul>
									<li><a href="#" title="">Log in</a></li>
									<li><a href="#" title="">Entries RSS</a></li>
									<li><a href="#" title="">Comments RSS</a></li>
									<li><a href="#" title="">Wordpress.org</a></li>
								</ul><!-- ul -->
							</div><!-- Widget -->							
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>


	</div>
</div>

</body>

<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
</html>