<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clone.html}">
<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Hotel HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
</head>
<body itemscope>
<div class="theme-layout">
	<div class="header-container stick">
	<div layout:fragment="header"></div>
	</div><!-- Header Container -->


<div layout:fragment="content">
	<div class="pagetop">
		<div class="container">
			<h1>Dinnings</h1>
			<ul>
				<li><a title="" href="#">Home</a></li>
				<li>Dinnings</li>
			</ul>		
		</div>
	</div><!-- Page Top -->



	<section>
		<div class="block gray no-padding">
			<div class="row">
				<div class="col-md-12 column">
					<div class="all-dinnings">
						<div class="dinnning">
							<div class="dinning-details">
								<h3>Altamira Restaurant</h3>
								<p>Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentumnibh, ut fermentum massa justo sit amet risus nibh.</p>
								<ul class="features-list">
									<li><strong>Popular Food:</strong> Ceviche</li>
									<li><strong>Popular Drink:</strong> Navarro Correa Blend</li>
									<li><strong>Popular Dessert:</strong> Tres leches</li>
									<li><strong>Cuisine:</strong> International & Local</li>
									<li><strong>Serves:</strong> Breakfast, Lunch & Dinner</li>
								</ul>
								<a class="book-now" href="#" title="">Download Menu</a>
							</div><!-- Dinning Details -->
							<div class="dinning-image"><img th:src="@{/images/resource/dinning1.jpg}" alt="" /></div>
						</div><!-- Dinning -->

						<div class="dinnning">
							<div class="dinning-image"><img th:src="@{/images/resource/dinning2.jpg}" alt="" /></div>
							<div class="dinning-details">
								<h3>Sushi Amor</h3>
								<p>Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentumnibh, ut fermentum massa justo sit amet risus nibh.</p>
								<ul class="features-list">
									<li><strong>Popular Food:</strong> Ceviche</li>
									<li><strong>Popular Drink:</strong> Navarro Correa Blend</li>
									<li><strong>Popular Dessert:</strong> Tres leches</li>
									<li><strong>Cuisine:</strong> International & Local</li>
									<li><strong>Serves:</strong> Breakfast, Lunch & Dinner</li>
								</ul>
								<a class="book-now" href="#" title="">Download Menu</a>
							</div><!-- Dinning Details -->
						</div><!-- Dinning -->

						<div class="dinnning">
							<div class="dinning-details">
								<h3>Nostalgia Bar</h3>
								<p>Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentumnibh, ut fermentum massa justo sit amet risus nibh.</p>
								<ul class="features-list">
									<li><strong>Popular Food:</strong> Ceviche</li>
									<li><strong>Popular Drink:</strong> Navarro Correa Blend</li>
									<li><strong>Popular Dessert:</strong> Tres leches</li>
									<li><strong>Cuisine:</strong> International & Local</li>
									<li><strong>Serves:</strong> Breakfast, Lunch & Dinner</li>
								</ul>
								<a class="book-now" href="#" title="">Download Menu</a>
							</div><!-- Dinning Details -->
							<div class="dinning-image"><img th:src="@{/images/resource/dinning3.jpg}" alt="" /></div>
						</div><!-- Dinning -->


						<div class="dinnning">
							<div class="dinning-image"><img th:src="@{/images/resource/dinning4.jpg}" alt="" /></div>
							<div class="dinning-details">
								<h3>Wine Pairing Dinner</h3>
								<p>Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentumnibh, ut fermentum massa justo sit amet risus nibh.</p>
								<ul class="features-list">
									<li><strong>Popular Food:</strong> Ceviche</li>
									<li><strong>Popular Drink:</strong> Navarro Correa Blend</li>
									<li><strong>Popular Dessert:</strong> Tres leches</li>
									<li><strong>Cuisine:</strong> International & Local</li>
									<li><strong>Serves:</strong> Breakfast, Lunch & Dinner</li>
								</ul>
								<a class="book-now" href="#" title="">Download Menu</a>
							</div><!-- Dinning Details -->
						</div><!-- Dinning -->
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</div>
		
</body>

<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
</html>