<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clone.html}">
<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Hotel HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
</head>
<body itemscope>
<div class="theme-layout">
	<div class="header-container stick">
		<div layout:fragment="header"></div>
	</div><!-- Header Container -->


<div layout:fragment="content">
	<div class="pagetop">
		<div class="container">
			<h1>Luxury Tours</h1>
			<ul>
				<li><a title="" href="#">Home</a></li>
				<li><a title="" href="#">Packages</a></li>
				<li>Room Packages</li>
			</ul>		
		</div>
	</div><!-- Page Top -->



	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 column">
						<div class="row narrow">
							<div class="gallery masonary">
								<div class="col-md-2">
									<div class="gallery-box">
										<img th:src="@{/images/resource/gallery1.jpg}" alt="" />
										<div class="gallery-hover">
											<div class="gallery-inner">
												<span><strong class="amount">$29.00 </strong>/ Extra</span>
												<h5><a title="" href="packages-detail.html">Canyoning</a></h5>
												<ul>
													<li><a href="#" title="">Dinner</a></li>
													<li><a href="#" title="">Breakfast</a></li>
												</ul>
												<a class="book-now" href="packages-detail.html" title="">Book Now</a>
											</div>
										</div>
									</div><!-- Gallery Box -->
								</div>
								<div class="col-md-6">
									<div class="gallery-box bottom">
										<img th:src="@{/images/resource/gallery2.jpg}" alt="" />
										<div class="gallery-hover">
											<div class="gallery-inner">
												<span><strong class="amount">$93.00 </strong>/ Extra</span>
												<h5><a title="" href="packages-detail.html">WATER RAFTING</a></h5>
												<ul>
													<li><a href="#" title="">Bus Transportation</a></li>
													<li><a href="#" title="">Experienced Guides </a></li>
												</ul>
												<a class="book-now" href="packages-detail.html" title="">Book Now</a>
											</div>
										</div>
									</div><!-- Gallery Box -->
								</div>
								<div class="col-md-4">
									<div class="gallery-box">
										<img th:src="@{/images/resource/gallery3.jpg}" alt="" />
										<div class="gallery-hover">
											<div class="gallery-inner">
												<span><strong class="amount">$58.00 </strong>/ Extra</span>
												<h5><a title="" href="packages-detail.html">CANOPY TOURS</a></h5>
												<ul>
													<li><a href="#" title="">Transportation</a></li>
													<li><a href="#" title="">Guides </a></li>
												</ul>
												<a class="book-now" href="packages-detail.html" title="">Book Now</a>
											</div>
										</div>
									</div><!-- Gallery Box -->
								</div>
								<div class="col-md-12">
									<div class="gallery-box left">
										<img th:src="@{/images/resource/gallery4.jpg}" alt="" />
										<div class="gallery-hover">
											<div class="gallery-inner">
												<span><strong class="amount">$59.00 </strong>/ Extra</span>
												<h5><a title="" href="packages-detail.html">HORSEBACK RIDING</a></h5>
												<ul>
													<li><a href="#" title="">Entrance To The Waterfall</a></li>
													<li><a href="#" title="">Local Guide </a></li>
												</ul>
												<a class="book-now" href="packages-detail.html" title="">Book Now</a>
											</div>
										</div>
									</div><!-- Gallery Box -->
								</div>
								<div class="col-md-12">
									<div class="gallery-box right">
										<img th:src="@{/images/resource/gallery5.jpg}" alt="" />
										<div class="gallery-hover">
											<div class="gallery-inner">
												<span><strong class="amount">$59.00 </strong>/ Extra</span>
												<h5><a title="" href="packages-detail.html">HORSEBACK RIDING</a></h5>
												<ul>
													<li><a href="#" title="">Entrance To The Waterfall</a></li>
													<li><a href="#" title="">Local Guide </a></li>
												</ul>
												<a class="book-now" href="packages-detail.html" title="">Book Now</a>
											</div>
										</div>
									</div><!-- Gallery Box -->
								</div>
								<div class="col-md-4">
									<div class="gallery-box">
										<img th:src="@{/images/resource/gallery6.jpg}" alt="" />
										<div class="gallery-hover">
											<div class="gallery-inner">
												<span><strong class="amount">$58.00 </strong>/ Extra</span>
												<h5><a title="" href="packages-detail.html">CANOPY TOURS</a></h5>
												<ul>
													<li><a href="#" title="">Transportation</a></li>
													<li><a href="#" title="">Guides </a></li>
												</ul>
												<a class="book-now" href="packages-detail.html" title="">Book Now</a>
											</div>
										</div>
									</div><!-- Gallery Box -->
								</div>
								<div class="col-md-6">
									<div class="gallery-box bottom">
										<img th:src="@{/images/resource/gallery7.jpg}" alt="" />
										<div class="gallery-hover">
											<div class="gallery-inner">
												<span><strong class="amount">$93.00 </strong>/ Extra</span>
												<h5><a title="" href="packages-detail.html">WATER RAFTING</a></h5>
												<ul>
													<li><a href="#" title="">Bus Transportation</a></li>
													<li><a href="#" title="">Experienced Guides </a></li>
												</ul>
												<a class="book-now" href="packages-detail.html" title="">Book Now</a>
											</div>
										</div>
									</div><!-- Gallery Box -->
								</div>
								<div class="col-md-2">
									<div class="gallery-box">
										<img th:src="@{/images/resource/gallery8.jpg}" alt="" />
										<div class="gallery-hover">
											<div class="gallery-inner">
												<span><strong class="amount">$29.00 </strong>/ Extra</span>
												<h5><a title="" href="packages-detail.html">Canyoning</a></h5>
												<ul>
													<li><a href="#" title="">Dinner</a></li>
													<li><a href="#" title="">Breakfast</a></li>
												</ul>
												<a class="book-now" href="packages-detail.html" title="">Book Now</a>
											</div>
										</div>
									</div><!-- Gallery Box -->
								</div>
							</div>
						</div><!-- Gallery -->
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>
</div>

</body>

<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
</html>