<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clone.html}">
<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Hotel HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
</head>
<body itemscope>
<div class="theme-layout">
	<div class="header-container stick">
		<div layout:fragment="header"></div>
	</div><!-- Header Container -->


<div layout:fragment="content">
	<div class="pagetop">
		<div class="container">
			<h1>Package Detail</h1>
			<ul>
				<li><a title="" th:href="@{/home/}">Home</a></li>
				<li><a title="" href="#">Packages</a></li>
				<li><a th:href="@{/view/room-packages-grid}" title=""> Room Packages</a></li>
			</ul>		
		</div>
	</div><!-- Page Top -->



	<section>
		<div class="block remove-gap gray">
			<div class="room-gallery">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="room-image1">
						<img th:src="@{'/getimage/' +${item.id}}" alt="" />
					</div>
					<div role="tabpanel" class="tab-pane fade" id="room-image2">
						<iframe style="border:0;height:792px;width:100%"  src="https://www.paneek.net/#/tour/view/1146" frameborder="0" allowfullscreen></iframe>
							</div>
					<div role="tabpanel" class="tab-pane fade" id="room-image3">
						<img th:src="@{/images/resource/room-big3.jpg}" alt="" />
					</div>
					<div role="tabpanel" class="tab-pane fade" id="room-image4">
						<iframe style="border:0;height:792px;width:100%"  src="https://www.paneek.net/#/tour/view/549" frameborder="0" allowfullscreen></iframe>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="room-image5">
						<img th:src="@{/images/resource/room-big5.jpg}" alt="" />
					</div>
					<div role="tabpanel" class="tab-pane fade" id="room-image6">
						<img th:src="@{/images/resource/room-big6.jpg}" alt="" />
					</div>
				</div>	
				<div class="room-thumbs">
					<div class="container">
						<div class="room-specs">
							<h4 th:text="${item.ten}"></h4>
							<ul class="features-list">
							<li><i class="fa fa-bank"></i> Hotel: <td th:text="${item.danhgia} +' Star'"></td></li>
								<li><strong>Thành phố:</strong><td th:text="${item.thanhpho.ten}"></td></li>
								<li><strong>Loại Khách Sạn:</strong><td th:text="${item.loaikhachsan.ten}"></td></li>
								<li><strong>Cách trung tâm:</strong><td th:text="${item.cachtrungtam}+ ' km'"></td></li>
								<li><strong>Giáp Biển:</strong><td><span th:text="${item.cachbien} ? 'Có':'Không'"></span></td></li>
								<li><strong>Dịch Vụ:</strong><td th:text="${item.buaan}"></td></li>
								<li><strong>Phone:</strong><td th:text="${item.sodt}"></td></li>
								<li><strong>Địa Chỉ:</strong><td th:text="${item.diachi}"></td></li>
							</ul>
											
						</div>						
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#room-image1" data-toggle="tab"><img th:src="@{/images/resource/room-thumb1.jpg}" alt=""></a>
							</li>
							<li>
								<a href="#room-image2" data-toggle="tab"><img th:src="@{/images/resource/room-thumb2.jpg}" alt=""></a>
							</li>
							<li>
								<a href="#room-image3" data-toggle="tab"><img th:src="@{/images/resource/room-thumb3.jpg}" alt=""></a>
							</li>
							<li>
								<a href="#room-image4" data-toggle="tab"><img th:src="@{/images/resource/room-thumb4.jpg}" alt=""></a>
							</li>
							<li>
								<a href="#room-image5" data-toggle="tab"><img th:src="@{/images/resource/room-thumb5.jpg}" alt=""></a>
							</li>
							<li>
								<a href="#room-image6" data-toggle="tab"><img th:src="@{/images/resource/room-thumb6.jpg}" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- Room Gallery -->
		</div>
	</section>

	<section>
		<div class="block remove-gap gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="package-single-detail">
							<span>Cách trung Tâm: <td th:text="${item.cachtrungtam}+ ' km'"></td></span>
							<h3 class="package-name" th:text="${item.loaikhachsan.ten}"></h3>
							<div class="package-price">
								<strong th:text="${item.buaan}"></strong>
								<i th:text="${item.cachtrungtam}+ 'm'"></i>
								<span  th:text="${item.cachbien} ? 'Có':'Không'"></span>
								<a class="book-now" th:href="@{/view/booking-form}" title="">Book Now</a>
							</div><!-- Package price -->
							<p th:text="${item.mota}"></p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12 column">
						<div class="special-offers">
							<div class="row">
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer1.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">The Gold Standard Tour</a></h3>
											<div class="cost">FROM <strong>$420.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer2.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Cinque Terre & Rome Tour</a></h3>
											<div class="cost">FROM <strong>$159.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer3.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Art, Food, and Culture Tour</a></h3>
											<div class="cost">FROM <strong>$212.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer7.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">The Gold Standard Tour</a></h3>
											<div class="cost">FROM <strong>$420.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer8.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Cinque Terre & Rome Tour</a></h3>
											<div class="cost">FROM <strong>$159.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
								<div class="col-md-4">
									<div class="sp-offer">
										<div class="offer-img">
											<img th:src="@{/images/resource/special-offer9.jpg}" alt="" />
											<ul>
												<li><i class="fa fa-bank"></i> Hotel: 5 Star</li>
												<li><i class="fa fa-clock-o"></i> Duration: 10 Days</li>
												<li><i class="fa fa-male"></i> Person: 02</li>
											</ul>
										</div>
										<div class="offer-detail">
											<span>Italy Tours & Vacations</span>
											<h3><a href="flight-packages-detail.html" title="">Art, Food, and Culture Tour</a></h3>
											<div class="cost">FROM <strong>$212.00</strong>/ Person</div>
											<a class="book-now" href="flight-packages-detail.html" title="">Book Now</a>
										</div>
									</div><!-- Offer -->
								</div>
							</div>
						</div><!-- Special Offers -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block remove-gap gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="side-title">PEOPLE <span>REVIEWS</span></h2>
						<div class="comments-thread">
							<ul>
								<li>
									<div class="comment">
										<img src="http://placehold.it/107x107" alt="" />
										<a class="reply" href="#" title="">Reply</a>
										<div class="comment-detail">
											<div class="comment-info">
												<h6>MARGARETTE <i>Says:</i></h6>
												<span>November 17, 2014</span>
												<span>at 9:55 am</span>
											</div>
											<div class="comment-rating">
												<span>Quality</span>
												<div class="stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
											<p>Curabitur blandit tempus porttitor. Maecenas sediam egetrius blandit sit accumsan urna molestie interdum.</p>
										</div>
									</div><!-- Comment -->
								</li>
								<li>
									<div class="comment">
										<img src="http://placehold.it/107x107" alt="" />
										<a class="reply" href="#" title="">Reply</a>
										<div class="comment-detail">
											<div class="comment-info">
												<h6>MARGARETTE <i>Says:</i></h6>
												<span>November 17, 2014</span>
												<span>at 9:55 am</span>
											</div>
											<div class="comment-rating">
												<span>Quality</span>
												<div class="stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
											<p>Curabitur blandit tempus porttitor. Maecenas sediam egetrius blandit sit accumsan urna molestie interdum.</p>
										</div>
									</div><!-- Comment -->
									<ul>
										<li>
											<div class="comment">
												<img src="http://placehold.it/107x107" alt="" />
												<a class="reply" href="#" title="">Reply</a>
												<div class="comment-detail">
													<div class="comment-info">
														<h6>MARGARETTE <i>Says:</i></h6>
														<span>November 17, 2014</span>
														<span>at 9:55 am</span>
													</div>
													<div class="comment-rating">
														<span>Quality</span>
														<div class="stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<p>Curabitur blandit tempus porttitor. Maecenas sediam egetrius blandit sit accumsan urna molestie interdum.</p>
												</div>
											</div><!-- Comment -->
										</li>
									</ul>									
								</li>
							</ul>
						</div><!-- Comments Thread -->
						<div class="block-gap"></div>
						<div class="comment-form">
							<h2 class="side-title">LEAVE <span>A REPLY</span></h2>
							<div class="input-fields">
								<div class="row">
									<div class="col-md-4"><input type="text" placeholder="Complete Name *" /></div>
									<div class="col-md-4"><input type="email" placeholder="Email Address *" /></div>
									<div class="col-md-4"><input type="text" placeholder="Website" /></div>
									<div class="col-md-12"><textarea placeholder="Enter Your Message"></textarea></div>
									<div class="col-md-12"><button class="book-now" type="submit">Submit Now</button></div>
								</div>												
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</div>	
</div>

	
</body>

<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
</html>