<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clone.html}">
<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Hotel HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
</head>
<body itemscope>
<div class="theme-layout">
	<div class="header-container stick">
		<div layout:fragment="header"></div>
	</div><!-- Header Container -->


<div layout:fragment="content">
	<div class="pagetop">
		<div class="container">
			<h1>SERVICES</h1>
			<ul>
				<li><a title="" href="#">Home</a></li>
				<li>Services</li>
			</ul>		
		</div>
	</div><!-- Page Top -->



	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 column">
						<div class="services-page">
							<div class="row">
								<div class="col-md-3"  th:each="item: ${services}">
									<div class="service-box">
										<img th:src="@{'/getanh/' +${item.id}}" width="100" height="350" alt="" />
										<div class="service-name">
											<span><img th:src="@{/images/service-icon2.png}" height="22px" width="30px" alt="" /></span>
											<h5><a th:href="@{'/view/profiles/' + ${item.id}}" th:text="${item.ten}" title=""></a></h5>
										</div>
									</div><!-- Service Box -->
								</div>
							</div>
						</div><!-- Services Page -->
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</div>
	
</body>

<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
</html>