<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clone.html}">
<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Hotel HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
</head>

<body itemscope>
<div class="theme-layout">
	<div class="header-container stick">
		<div layout:fragment="header"></div>
	</div><!-- Header Container -->


<div layout:fragment="content">
	<div class="pagetop">
		<div class="container">
			<h1>SERVICE DETAIL</h1>
			<ul>
				<li><a title="" href="#">Home</a></li>
				<li><a title="" href="#">Services</a></li>
				<li>Service Detail</li>
			</ul>		
		</div>
	</div><!-- Page Top -->



	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 column" >
						<div class="service-detail">
							<div class="service-image-tabs">
								<div class="tab-content" >
									<div role="tabpanel" class="tab-pane fade in active" id="service-image1">
										<img th:src="@{'/getanh/' +${item.id}}" height="415" width="620" alt="" />
									</div>
									<div class="service-info" >
										<div class="service-info-center">
											<span>The Best</span>
											<strong th:text="${item.ten}"></strong>
											<p>Not valid for bookings less than 1 days </p>
											<div class="cost">FROM <strong th:text="${item.giadv} + ' VND'"></strong> / PERSON</div>
											<a class="book-now" th:href="@{/view/room-packages-grid}" title="">Hotel Reservation</a>
											<p><span style="color: red">*</span> Please,Select service in the hotel book form</p>
										</div>
									</div>
								
								</div>
								<ul class="nav nav-tabs">
									<li  class="active">
										<a href="#service-image1" data-toggle="tab"><img th:src="@{/images/resource/service-thumb1.jpg}" alt="" /></a>
									</li>
									<li>
										<a href="#service-image2" data-toggle="tab"><img th:src="@{/images/resource/service-thumb2.jpg}" alt="" /></a>
									</li>
									<li>
										<a href="#service-image3" data-toggle="tab"><img th:src="@{/images/resource/service-thumb3.jpg}" alt="" /></a>
									</li>
									<li>
										<a href="#service-image4" data-toggle="tab"><img th:src="@{/images/resource/service-thumb4.jpg}" alt="" /></a>
									</li>
									<li>
										<a href="#service-image5" data-toggle="tab"><img th:src="@{/images/resource/service-thumb5.jpg}" alt="" /></a>
									</li>
								</ul>
								
							</div><!-- Service Image Tabs -->
							<h2>Service Description</h2>
							<ul class="features-list">
								<li><strong>Name Service : <span th:text="${item.ten}"></span></strong></li>
								<li><strong>Price Service : <span th:text="${item.giadv} + ' VNĐ'"></span></strong></li>
								<li><strong>details :</strong></li>
							</ul>
							<br>
						
							<p th:text="${item.mota}"></p>
						</div><!-- Service Details -->
					</div>

					<aside class="col-md-4 column">
						<div class="sidebar">
							<div class="widget">
								<form class="searchform">
									<input type="text" placeholder="Search">
									<button><i class="fa fa-search"></i></button>
								</form>
							</div><!-- Widget -->
							<div class="widget">
								<div class="widget-title">
									<h4>Rooms Packages</h4>
									<span>Local Guide</span>
								</div>
								<div class="offers-widget">
									<div class="offer">
										<img th:src="@{/images/resource/footer-room1.jpg}" alt="" />
										<div class="offer-overlay">
											<span>Couple Room</span>
											<a href="#">Honymoon Suite</a>
										</div>
									</div><!-- Offer -->
									<div class="offer">
										<img th:src="@{/images/resource/footer-room2.jpg}" alt="" />
										<div class="offer-overlay">
											<span>Couple Room</span>
											<a href="#">Honymoon Suite</a>
										</div>
									</div><!-- Offer -->
									<div class="offer">
										<img th:src="@{/images/resource/footer-room3.jpg}" alt="" />
										<div class="offer-overlay">
											<span>Couple Room</span>
											<a href="#">Honymoon Suite</a>
										</div>
									</div><!-- Offer -->
								</div><!-- Offers Widget -->
							</div><!-- Widget -->
							<div class="widget">
								<div class="widget-title">
									<h4>Recent News</h4>
									<span>Blog Posts</span>
								</div>
								<div class="widget-news">
									<div class="recent-news">
										<span class="date">
											<i>August</i><strong>25</strong>
										</span>
										<a href="#" title="">An Exceptional Hotel Template!</a>
									</div><!-- News -->
									<div class="recent-news">
										<span class="date">
											<i>August</i><strong>18</strong>
										</span>
										<a href="#" title="">Comfortable & Spacious Apartment</a>
									</div><!-- News -->
								</div><!-- News Widget -->
							</div><!-- Widget -->
							<div class="widget">
								<div class="widget-title">
									<h4>Categories List</h4>
									<span>Local Guide</span>
								</div>
								<ul>
									<li><i class="fa fa-umbrella"></i> Boutiques</li>
									<li><i class="fa fa-laptop"></i> Complimentary wireless internet</li>
									<li><i class="fa fa-clock-o"></i> Private beach with service</li>
									<li><i class="fa fa-wifi"></i> Pet-friendly resort</li>
									<li><i class="fa fa-umbrella"></i> Tennis courts</li>
								</ul><!-- ul -->
							</div><!-- Widget -->			
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>
	
	<section>
				<div class="block less-spacing">
					<div class="container">
						<div class="row">
							<div class="col-md-12 column">
								<div class="clients-carousel">
									<div class="client">
										<a title="" href="#"><img
											th:src="@{/images/resource/client1.jpg}" alt="" /></a>
									</div>
									<!-- Client -->
									<div class="client">
										<a title="" href="#"><img
											th:src="@{/images/resource/client2.jpg}" alt="" /></a>
									</div>
									<!-- Client -->
									<div class="client">
										<a title="" href="#"><img
											th:src="@{/images/resource/client3.jpg}" alt="" /></a>
									</div>
									<!-- Client -->
									<div class="client">
										<a title="" href="#"><img
											th:src="@{/images/resource/client4.jpg}" alt="" /></a>
									</div>
									<!-- Client -->
									<div class="client">
										<a title="" href="#"><img
											th:src="@{/images/resource/client5.jpg}" alt="" /></a>
									</div>
									<!-- Client -->
									<div class="client">
										<a title="" href="#"><img
											th:src="@{/images/resource/client1.jpg}" alt="" /></a>
									</div>
									<!-- Client -->
									<div class="client">
										<a title="" href="#"><img
											th:src="@{/images/resource/client2.jpg}" alt="" /></a>
									</div>
									<!-- Client -->
								</div>
								<!-- Clients Carousel -->
							</div>
						</div>
					</div>
				</div>
			</section>
</div>
</div>
	
</body>

<!-- Nulled by http://www.baobinh.net by tieulonglanh -->
</html>