<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="css/404.css">
</head>
<body>
	<div  id="error-page">
		<div class="content">
			<h2 class="header" data-text="404">404</h2>
			<h4 data-text="Opps! Page not found">Opps! Page not found</h4>
			<p>Sorry, I'm don't have account. If you think something is
				broken, report a problem.</p>
			<div class="btns">
				<a href="index.html">return home</a> <a href="index.html">report
					problem</a>
			</div>
		</div>
	</div>
</body>
</html>