<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div layout:fragment="header"></div>

<div layout:fragment="content">

	<div class="row">
		
		<article class="col-sm-12">
			<div class="card">
				<div class="card-header">
							<div th:if="${success}"
							class="row alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
							<span th:text="${success}"></span>
						</div>
						<span class="float-left"
							style="color: snow; display: table-cell; font-size: 26px; font-weight: 700; margin: 0; vertical-align: middle">
							Quản Lý Phòng </span>
						<form th:action="@{/rooms/find}" method="post"
							class="input-group float-left input-group-sm "
							style="width: 500px; margin-left:200px; padding: 10px">
								
							<div class="input-group float-left input-group-sm">
								<input  type="text" name="ten" class="form-control float-right"
									placeholder="Search" >
								<div class="input-group-append">
									<button type="submit" class="btn btn-default">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					<span type="button" class="float-right btn  btn-sm"
							data-toggle="modal" data-target="#modelId">  
							<input type="submit" value="Thêm Mới" class="btn btn-primary"
												th:if="${id<=0}" /> 
							<input type="submit" value="Chỉnh Sửa"
												class="btn btn-primary" th:if="${id>0}" /> 
						</span>
					<!-- Modal -->
					<div class="modal fade" id="modelId" tabindex="-1" role="dialog"
						aria-labelledby="modelTitleId" aria-hidden="true">
						<div class="modal-dialog" style="max-width: 700px;margin-top: 200px" role="document">

							<div class="modal-content">
								<div class="modal-header">
									<!--  
									<div th:if="${message !=null}">
										<h3 th:text="${message}"></h3>
									</div>
									-->
									<h5 class="modal-title">Phòng</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form th:action="@{/rooms/saveOrUpdate}" th:object="${roomDto}"
										method="post" enctype="multipart/form-data">

										<div th:if="${id>0}">
											<div class="form-group row">

												<label class="col-sm-3 col-form-label"> Mã</label>
												<div class="col-sm-9">
													<input type="text" th:field="*{id}" class="form-control"
														placeholder="Mã Thành Phố" readonly>
												</div>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-sm-3 col-form-label"> Tên Phòng</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" th:field="*{ten}"
													placeholder="Tên Phòng...">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Diện Tích</label>
											<div class="col-sm-9">
												<input type="number" class="form-control"
													th:field="*{dientich}" placeholder="Diện Tích...">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"> Diện tích</label>
											<div class="col-sm-9">
												<input type="number" class="form-control"
													th:field="*{soluong}" placeholder="Số lượng...">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Giá Thuê</label>
											<div class="col-sm-9">
												<input type="number" id="giathue" class="form-control"
													th:field="*{giathue}" placeholder="Giá Thuê...">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"> Tiện Nghi</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="tiennghi" th:field="*{tiennghi}"
													placeholder=" Tiện Nghi...">
											</div>
										</div>
										<div class="form-group row">
												<label class="col-sm-3"> Hình Ảnh</label>
												<div class="col-sm-8" style="margin-left: 15px">
													<input type="file" class="custom-file-input" th:field="*{photo}" id="photo" th:required="*{id == 0}">
                                        <label class="custom-file-label" for="photo" th:if="*{imageName}" th:text="*{imageName}"></label>
                                        <label class="custom-file-label" for="photo" th:unless="*{imageName}">choose image</label>
												</div>
											</div>
										<div class="row" style="margin: 5px;">
											<div class="form-group col-md-6">
												<label>Khách Sạn</label> <select th:field="*{khachsanId}"
													class="form-control">

													<option th:each="khachsan : ${hotels}"
														th:value="${khachsan.id}" th:text="${khachsan.ten}"></option>
												</select>

											</div>

											<div class="form-group col-md-6">
												<label>Loại Giường</label> <select th:field="*{loaigiuong}"
													class="form-control">
													<option value="" selected>Chọn Loại Giường</option>
													<option th:value="true">Giường Đơn</option>
													<option th:value="false">Giường Đôi</option>
												</select>

											</div>

										</div>

										<div class="row" style="margin: 5px;">
											<div class="form-group col-sm-12">
												<label for="validationTextarea">Mô Tả</label>
												<textarea rows="4" class="form-control" th:field="*{mota}"
													id="mota" placeholder="Mô Tả...">
                                                    </textarea>
											</div>
										</div>

										<input type="submit" value="Thêm" class="btn btn-primary"
											th:if="${id<=0}" /> <input type="submit" value="Chỉnh Sửa"
											class="btn btn-primary" th:if="${id>0}" /> <a
											th:href="@{/rooms/}" class="btn btn-outline-secondary">Thoát</a>

									</form>
								</div>
								<div class="card-footer">
									<h4>Error :</h4>
									<ul style="color: red;"
										th:if="${#fields.hasErrors('${roomDto.*}')}">
										<li th:each="err: ${#fields.errors('${roomDto.*}')}"
											th:text="${err}">Input is inncorrect</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<table class="table table-bordered" style="margin-bottom: 0;">
					<thead class="text-center">
						<tr>
							<th>Tên</th>
							<th>Diện Tích</th>
							<th>Giá Thuê</th>
							<th>Tiện Nghi</th>
							<th>Loại Giường</th>
							<th>Hình Ảnh</th>
							<th style="width:300px;">Mô Tả</th>
							<th>Khách Sạn</th>
							<th>Thao Tác</th>
						</tr>

					</thead>
					<tbody>
						<tr th:each="item: ${rooms}">

							<td th:text="${item.ten}"></td>
							<td th:text="${item.dientich}+ 'm'"></td>
							<td th:text="${item.giathue} + ' VNÄ'"></td>
							<td th:text="${item.tiennghi}"></td>
							<td><span
								th:text="${item.loaigiuong} ? 'Giường Đơn':'Giường Đôi'"></span></td>
								<td><img alt="" th:src="@{'/getImg/' +${item.id}}"
									width="100" height="90" class="avatar"
									style="border-radius: 40px; vertical-align: middle;"></td>
							<td th:text="${item.mota}"></td>
							<td th:text="${item.khachsan.ten}"></td>

							<td class="text-right py-0 align-middle">
								<div class="btn-group btn-group-sm">
									<a th:href="@{'/rooms/edit/' + ${item.id}}"
										class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
									<a th:href="@{'/rooms/delete/' + ${item.id}}"
										class="btn btn-danger"><i class="fas fa-trash"></i></a>
								</div>
							</td>

						</tr>

					</tbody>
				</table>

				<div class="card-footer">
				
					<nav aria-label="Contacts Page Navigation" th:if="${rooms.totalPages}">
                        <ul class="pagination justify-content-center m-0">
                            <li th:class="${rooms.number == 0}?'disabled page-item':'page-item'">
                                <a class="page-link"
                                    th:href="@{/rooms/(page=1)}">&laquo;</a>
                            </li>
                            <li th:class="${rooms.number == 0} ?'disabled page-item':'page-item'"><a
                                    class="page-link"
                                    th:href="@{/rooms/(page=${rooms.number})}">&larr;</a>
                            </li>
                            <li
                                    th:class="${rooms.number == (page - 1)}?'active page-item':'page-item'"
                                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                <a class="page-link"
                                   th:href="@{/rooms/(page=${page})}"
                                   th:text="${page}"></a>
                            </li>
                            <li
                                    th:class="${rooms.number + 1 == rooms.totalPages} ?'disabled page-item':'page-item'">
                                <a class="page-link"
                                   th:href="@{/rooms/(page=${rooms.number + 2})}">&rarr;</a>
                            </li>
                            <li
                                    th:class="${rooms.number+ 1 == rooms.totalPages}?'disabled page-item':'page-item'">
                                <a class="page-link"
                                   th:href="@{/rooms/(page=${rooms.totalPages})}">&raquo;</a>
                            </li>
                        </ul>
                        </nav>
				</div>
			</div>
		</article>
	</div>
</div>

</body>
</html>